.section{
    margin: 0 auto;
    width: fit-content;
    
}

.tab_content {
    display: flex;
    flex-direction: row;
}

.content {
    overflow-y: scroll;
    height: 100vh;
}

.content::-webkit-scrollbar-thumb {
    border: none;
    border-radius: 0;
}