.tab_content {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
}

.content {
    overflow-y: scroll;    
    list-style: none;    
    padding: 0;
    height: calc(100vh - 350px);
    
}

.content::-webkit-scrollbar-thumb {
    border: none;
    border-radius: 0; 
}

.content::-webkit-scrollbar {
	width: 8px;
}