.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    align-self: flex-start;
    line-height: 2em;
}

.img {
    width: 480px;
    height: 240px;
    object-fit: contain;
    object-position: center;
}

.nutrients {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-secondary-text);    
    list-style: none;
    padding: 0;
}

.nutrient {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.nutrient:last-child {
    margin-right: 0;
}