.components{    
    display: flex;
    flex-direction: column;
    
    width: 568px;
    height: 690px;
    box-sizing: border-box;    
}

.isHover {
    background-color: rgba(0,0,0,.4);
    border-radius: 40px;
    
}

.emptyConstructor {
    display: flex;
    justify-content: center;
    align-items: center;
}

.components__items {
    list-style: none;    
    padding: 0;    
    
    display: flex;
    flex-direction: column;    
    overflow-y: scroll;
    
}

.components__items::-webkit-scrollbar-thumb {
    border: none;
    border-radius: 0;    
}

.components__items::-webkit-scrollbar {
	width: 8px;
}

.order {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
    margin-top: auto;
}