.components{    
    display: flex;
    flex-direction: column;
    
    max-width: 568px;
    height: 656px;
    box-sizing: border-box;
}

.components__items {
    list-style: none;    
    padding: 0;    
    
    display: flex;
    flex-direction: column;    
    overflow-y: scroll;
}

.components__items::-webkit-scrollbar-thumb {
    border: none;
    border-radius: 0;    
}

.components__items::-webkit-scrollbar {
	width: 8px;
}

.burger_item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.burger_item:last-child {
    margin: 0;
}

.drag_icon {
    transform: scale(1.1);
}

.currency_icon {
    transform: scale(1.4);
    display: flex;
}

.order {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: flex-end;
}