.overlay {
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    opacity: 0;
    transition: visibility 0.4s, opacity 0.4s linear;

    display: flex;
    justify-content: center;
    align-items: center;
}

.opened {
  visibility: visible;
  opacity: 1;
}